@import "../../../node_modules/jansensan-stylesheets/src/sass/common/variables.scss";


.lot-response {
  position: relative;
  margin: 24px 0 48px;

  input[type=range] {
    display: inline-block;
    margin-left: 50px;
    width: 550px;
  }

  .response-num-label {
    width: 100%;

    td {
      position: relative;
      vertical-align: top;
      font-family: $ffSerif;
      font-style: italic;
      color: $darkerGrey;
    }

    .numeric-label {
      margin-top: -5px;
      text-align: center;
    }

    .addit-label {
      text-align: center;
      padding: 0 16px;
    }
  }
}