@import "../../../node_modules/jansensan-stylesheets/src/sass/common/variables.scss";


.demographics-questions {
  display: block;
  position: relative;

  &.hidden {
    display: none;
  }

  h1 {
    font-size: 2em;
    padding-top: 24px;
    border-top: 1px solid $paleGrey;
  }

  .form-section {
    display: block;
    position: relative;
    margin: 32px 0 48px;

    input[type=radio] {
      width: 16px;
      height: 16px;
    }

    input[type=number] {
      padding: 8px;
      background-color: $nearWhite;
      border: 1px solid $paleGrey;
      font-family: $ffSansSerif;
      font-size: $mainFontSize;
      color: $nearBlack;

      -webkit-appearance: none;
      -webkit-border-radius: 0;
    }
    
    label {
      margin: 0 24px 0 8px;
      font-family: $ffSerif;
      font-style: italic;
      color: $darkerGrey;
      cursor: pointer;
    }
  }

  .ethnicity-section,
  .education-section {
    .radio-wrapper {
      position: relative;
      margin-bottom: 8px;
    }
  }

  .fix-form-errors {
    text-align: center;
    padding: 8px 0;
    background-color: #990000;
    color: #fff;

    &.not-submitted, {
      display: none;
    }

    &.invalid {
      display: block;
    }

    &.valid {
      display: none;
    }
  }

  .buttons-wrapper {
    border-top: 1px solid $paleGrey;
    padding: 32px 0;
  }
}