@import "../../../node_modules/jansensan-stylesheets/src/sass/common/variables.scss";


.app {
  header {
    margin-bottom: 48px;
  }

  .btn-primary {
    // FIXME: jansensan-styles lib should fix that
    cursor: pointer;
  }

  .centered {
    width: $tabletContentCol !important;
  }
}