@import "../../../node_modules/jansensan-stylesheets/src/sass/common/variables.scss";


.survey {
  position: relative;
  margin-top: 48px;

  .buttons-wrapper {
    border-top: 1px solid $paleGrey;
    padding: 32px 0;
  }

  .download-btn {
    margin-left: 32px;
  }
}
