@import "../../../node_modules/jansensan-stylesheets/src/sass/common/variables.scss";


.question {
  position: relative;

  h1 {
    font-size: 2em;
    padding-top: 24px;
    border-top: 1px solid $paleGrey;
  }

  .fix-form-errors {
    text-align: center;
    padding: 8px 0;
    background-color: #990000;
    color: #fff;

    &.not-submitted, {
      display: none;
    }

    &.invalid {
      display: block;
    }

    &.valid {
      display: none;
    }
  }

  .refresh-btn {
    display: inline-block;
    background-color: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    color: #fff;

    cursor: pointer;

    &:hover,
    &:active {
      text-decoration: none;
    }
  }
}