.question {
  position: relative;

  .fix-form-errors {
    text-align: center;
    padding: 8px 0;
    background-color: #990000;
    color: #fff;

    &.not-submitted, {
      display: none;
    }

    &.invalid {
      display: block;
    }

    &.valid {
      display: none;
    }
  }
}