@import "../../../node_modules/jansensan-stylesheets/src/sass/common/variables.scss";


.admin-app {
  display: block;
  position: relative;

  // FIXME: doesnt work
  min-height: 400px !important;

  background-color: #fff;

  header {
    margin-bottom: 48px;
  }

  .btn-primary {
    // FIXME: jansensan-styles lib should fix that
    cursor: pointer;
  }

  .centered {
    width: $tabletContentCol !important;
  }
}