@import "../../../node_modules/jansensan-stylesheets/src/sass/common/variables.scss";


.admin-app {
  display: block;
  position: relative;
  background-color: #fff;

  header {
    margin-bottom: 48px;
  }

  h1 {
    font-size: 2em;
    padding-top: 24px;
    border-top: 1px solid $paleGrey;
  }

  .btn-download {
    width: 192px;
    text-align: center;
    cursor: pointer;

    .active-label {
      display: inline-block;
    }

    .disabled-label {
      display: none;
      position: relative;
      top: 3px;
    }

    &:disabled {
      background-color: $darkGrey;
      cursor: default;

      .active-label {
        display: none;
      }
      
      .disabled-label {
        display: inline-block;
      }
    }
  }

  .centered {
    width: $tabletContentCol !important;
  }

  .admin-content {
    min-height: 380px;
  }
}