.response {
  position: relative;
  margin: 48px 0 64px;

  input[type=range] {
    display: inline-block;
    margin-left: 20px;
    width: 600px;
  }

  .response-num-label {
    width: 100%;

    td {
      vertical-align: top;
    }

    .numeric-label {
      margin-top: -5px;
      text-align: center;
    }

    .addit-label {
      text-align: center;
    }
  }
}