.translation-selection {
  display: block;
  position: relative;

  &.hidden {
    display: none;
  }

  .lang-sel-fieldset {
    margin: 0 0 48px 0;
    padding: 0;
    border: none;

    .btn-primary {
      padding-left: 12px;
      padding-right: 12px;
      line-height: 2;
    }
  }
}